body
{
	margin:0;
}

#main
{
	aheight: 100px;
	awidth : 600px;
	border: 1px solid black;
	background-image: url("../site/bg.png");
}
.obj
{
	margin-left: 15px;
	margin-right: 15px;
	color: white;
	font-family: "Gill Sans", sans-serif;
}
